<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
<div class="body">

    <div class="showcase-form card" id="upload-form">
        <h2>上传文件</h2>
        <form>
            {% csrf_token %}
            <div class="form-control">
                 <input id="fileName" type="text" name="name" onclick="document.getElementById('file').click()" placeholder="文件" required>
            </div>

            <div class="form-control">
                <input id="hash" type="text" name="hash" placeholder="哈希" required>
            </div>
            <input type="submit" value="提交" class="btn btn-primary">
        </form>
    </div>
    <input type="file" style="display: none" id="file" onchange="handleFiles()">

</div>
</div>
</body>


</html>